/**/
.Wrap {}

/* topBanner start */
.topBanner {
  background: #f3f3f3;
  padding: 24px 0;
}
.topBanner .container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.topBanner .container h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.040em;
}
.topBanner .container p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.025em;
}
.topBanner .container a{
  border: 1px solid #333;
  height: 16px;
  padding: 5px 20px;
  margin-left: 20px;
  font-size: 13px;
  font-weight: 300;
}
.topBanner .container a:hover {
  border: 1px solid #f3f3f3;
  color: #f3f3f3;
  background-color: #333;
}
.topBanner .container i {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 24px;
  cursor: pointer;
}
.topBanner .container i:hover {
  border: 1px solid #f3f3f3;
  color: #f3f3f3;
  background-color: #333;
}
/* topBanner end */

/* header start */
.headerWrap {}

.headerWrap .container{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  line-height: 100px;
}
.headerWrap .container>* {
  padding: 0 15px;
}
.headerWrap .container .gnb {}

.headerWrap .container .gnb>ul {
  display: flex;
}
.headerWrap .container .gnb>ul>li {
  padding: 0 20px;
  position: relative;
} 
.headerWrap .container .gnb>ul>li>a:hover {
  color: #fff;
  background: #333;
}
.headerWrap .container .gnb>ul>li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 2px;
  height: 13px;
  background-color: #333;
}
.headerWrap .container .gnb>ul>li:first-child::after {
  display: none;
}
.headerWrap .searchForm {
  margin-left: auto;
}
.headerWrap .searchForm input {
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
}
.headerWrap .searchForm button {
  outline: none;
  border: none;
  background: transparent;

}
.headerWrap .searchForm button i {  
  font-size: 15px;
  color: #fff;
  background: #333;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.headerWrap .searchForm button i:hover {
  background: #fff;
  color: #333;
  border: 1px solid #333
}
/* header end */

/* mainVisual start */
.mainVisual .visualSlide {
  border-top: 1px solid #ddd;
}
.mainVisual .visualSlide .msLeft{
  position: absolute;
  top: 50%;
  left: 200px;
  width: 100px;
  height: 100px;
  z-index: 999;

  border-top: 1px solid #fff;
  border-left: 1px solid #fff;

  transform: translateY(-50%) rotate(-45deg);
}


.mainVisual .visualSlide .msRight{
  position: absolute;
  top: 50%;
  right: 200px;
  width: 100px;
  height: 100px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;

  transform: translateY(-50%) rotate(135deg);
}
.mainVisual .visualSlide figure{
  height: 600px;
  position: relative;
}
.mainVisual .visualSlide figure i {
  position: absolute;
  top: 100px;
  right: 200px;

  font-size: 100px;
  color: #f00;

  opacity: 0;
  transition: 0.5s;
}
.mainVisual .visualSlide figure.oo i {
  opacity: 1;
  animation: heart 1s infinite;
}

@keyframes heart {
  0% {transform: scale(1);}
  20% {transform: scale(0.5);}
  50% {transform: scale(1);}
  70% {transform: scale(0.5);}
  100% {transform: scale(1);}
}

.mainVisual .visualSlide figure.slick-active{

}
.mainVisual .visualSlide figure .inner {
  width: 1200px;
  margin: 300px auto 0 auto;
  padding: 0 15px;
  color: #fff;
}
.mainVisual .visualSlide figure .inner h3 {
  opacity: 0;
  transform: translateY(100px);
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 30px;
  text-shadow: 0 0 2px #333;
  transition: 1s 0.5s;
}
.mainVisual .visualSlide figure .inner p {
  font-size: 15px;
  font-weight: 300;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s 1s;
}
.mainVisual .visualSlide figure.oo .inner h3 {
  opacity: 1;
  transform: translateY(0);
}
.mainVisual .visualSlide figure.oo .inner p {
  opacity: 1;
  transform: translateY(0);
}
.mainVisual .visualSlide .item01 {
  background: url(../doc/images/benzmainslide01.webp) no-repeat center center/cover;
}
.mainVisual .visualSlide .item02 {
  background: url(../doc/images/benzmainslide02.jpeg) no-repeat center center/cover;
}
.mainVisual .visualSlide .item03 {
  background: url(../doc/images/benzmainslide03.webp) no-repeat center center/cover;
}
.mainVisual .visualSlide .slick-dots {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 60px;
  transform: translateX(-50%);
  gap: 10px;
}
.mainVisual .visualSlide .slick-dots li {
  width: 100px;
  height: 5px;
  background: #333;
  transition: 1s;
}
.mainVisual .visualSlide .slick-dots li::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #f00;
  transition: 1s;
}
.mainVisual .visualSlide .slick-dots li.slick-active {
  background: #fff;
}
.mainVisual .visualSlide .slick-dots li.slick-active::after {
  width: 100%;

}
.mainVisual .visualSlide .slick-dots button {
  display: none;
}
/* mainVisual end */

/* mainProduct start */
.mainProduct {
  padding: 100px 0;
  text-align: center;
}
.mainProduct h2 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.20em;
  margin-bottom: 10px;
}
.mainProduct p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.025em;
  margin-bottom: 30px;
}
.mainProduct .container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.mainProduct .container figure {
  flex: 1;
  padding: 0 15px;
  position: relative;
}
.mainProduct .container figure .inner {
  margin-bottom: 15px;
  overflow: hidden;
}
.mainProduct .container figure .inner img {
  transition: 1s;
  filter: grayscale(1);
}
.mainProduct .container figure .inner:hover img {
  transform: scale(1.5);
  filter: grayscale(0);
}
.mainProduct .container figure strong {
  display: block;
  margin-bottom: 10px;
}
.mainProduct .container figure a {
  display: inline-block;
  padding: 10px 30px;
  background: #333;
  color: #fff;
}
.mainProduct .container figure a:hover {
  background: #fff;
  color: #333;
  padding: 9px 30px;
  border: 1px solid #333;
}
.mainProduct .container figure .label {
  position: absolute;
  top: -10px;
  right: -10px;
  border-left: 50px solid #f00;
  border-top: 10px solid #f00;
  border-bottom: 10px solid #f00;
  border-right: 10px solid transparent;
}
.mainProduct .container figure .label span {
  position: absolute;
  top: -6px;
  left: -35px;
  color: #fff;
  font-size: 14px;
}
/* mainProduct end */

/* eventBanner start */
.eventBanner {
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../doc/images/benzbg.webp) no-repeat fixed center center/cover;
}
.eventBanner h2 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.20em;
  margin-bottom: 10px;
}
.eventBanner p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.025em;
  margin-bottom: 30px;
}
.eventBanner i {
  padding: 7px;
  background: #333;
  border-radius: 50%;
  margin-left: 15px;
}
.eventBanner i:hover {
  background: #fff;
  color: #333;
}

/* eventBanner end */

/* eventProduct start */
.eventProduct {
  padding: 100px 0;
}
.eventProduct .container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.eventProduct .container>div {
  padding: 0 15px;
}
.eventProduct .container .right {
  display: flex;
  align-items: center;
  width: 60%;
}
.eventProduct .container .left {
  width: 40%;
}
.eventProduct .container .left .ProductSlide {
}
.eventProduct .container .left .ProductSlide img {
  padding-left: 40px;
}
.eventProduct h3 {
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.20em;
  margin-bottom: 10px;
}
.eventProduct p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.025em;
  margin-bottom: 30px;
}
.eventProduct i {
  padding: 7px;
  background: #333;
  border-radius: 50%;
  margin-left: 15px;
  color: #fff;
}
.eventProduct i:hover {
  background: #fff;
  color: #333;
  border: 1px solid #333;
  padding: 5px;
}
/* eventProduct end */

/* allProduct start */

.allProduct {
  padding: 100px 0;
  text-align: center;
  background: #f2f2f2;
  position: relative;
}
.allProduct .container {
  width: 1200px;
  margin: 0 auto;
}
.allProduct .allProductSlide figure{
  padding: 15px 15px;
}

.allProduct h2 {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.20em;
  margin-bottom: 10px;
}
.allProduct p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.025em;
  margin-bottom: 30px;
}
.allProduct .inner {
  margin-bottom: 20px ;
  transition: 0.5s;
}
.allProduct .slick-center .inner{
  transform: scale(1.2);
}
.allProduct .inner + strong {
  font-size: 13px;
  font-weight: 300;
  display: block;
  margin-bottom: 20px;
}
.allProduct .slick-dots {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.allProduct .slick-dots li{
  width: 13px;
  height: 13px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 20px;
}
.allProduct .slick-dots li.slick-active {
  background: #f00;
}
.allProduct .slick-dots li button{
  display: none;
}

.allProduct i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 30px;
  color: #fff;
  background: #333;
  padding: 10px;
}

.allProduct i:first-child {
  margin-left: -700px;
  cursor: pointer;
}


.allProduct i:last-child {
  margin-left: 700px;
  cursor: pointer;
}

.movieBg {
  padding: 200px 0;
  color: #fff;
  text-align: center;
}

.movieBg h3 {
  font-size: 19px;
  font-weight: 100;
  letter-spacing: 0.20em;
  margin-bottom: 10px;
}
.movieBg p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.025em;
  margin-bottom: 30px;
}
.movieBg i {
  font-size: 20px;
  padding: 10px;
  background: #333;
  border-radius: 10px;
  border: 1px solid #fff;
  cursor: pointer;
}
.movieBg i:hover {
  background: #fff;
  color: #333;
  border: 1px solid #333;
}

.customerArea {
  padding: 100px 0;
  background: #f2f2f2;
}
.customerArea .container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.customerArea .container>div {
  flex: 1;
  padding: 0 15px;
}

.customerArea .container .tabMenu {
  display: flex;
  text-align: center;
}

.customerArea .container .tabMenu>li {
  flex: 1;
  background: #333;
  color: #fff;
  padding: 20px 10px;
}
.customerArea .container .tabMenu>li~li {
  border-left: 1px solid #fff;
}
.customerArea .container .tabMenu>li.active {
  background: #369;
}

.customerArea .container .tabContent>div {
  display: none;
}
.customerArea .container .tabContent>div.active {
  display: block;
}

.customerArea .container .tabContent a {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px dotted #333;
}

.customerArea .container .tabContent strong {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customerArea .container .contentImgBox {
  position: relative;
}
.customerArea .container .contentImgBox button{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #9ACD32;
  padding: 15px 30px;
  border-radius: 10px;
  transition: 0.5s;
}
.customerArea .container .contentImgBox button:hover{
  background-color: #fff;
  color: #9ACD32;
  border: 3px solid #9ACD32;
  border-radius: 30px;
}

.customerArea .container .contentImgBox i {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 50px;
  color: #f00;
  opacity: 0;
  transition: 0.5s;
}
.customerArea .container .contentImgBox:hover i{
  opacity: 1;
    animation: heart 1s infinite;
}

.footerWrap {
  background: #333;
  color: #999;
  line-height: 60px;
}
.footerWrap .container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.footerWrap .container>* {
  padding: 0 15px;
}
.footerWrap .container dl{
  display: flex;
  padding: 0 15px;
  gap: 40px;
}
.footerWrap .container dd {
  position: relative;
}
.footerWrap .container dd::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background: #999;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
}
.footerWrap .container>div {
  padding: 0 15px;
  font-size: 20px;
}
.footerWrap .bottom {
  padding-bottom: 50px;
}
.footerWrap .link select {
  background: #333;
  font-size: 15px;
  padding: 4px 10px;
  outline: none;
  border: none;
  border: 3px solid #999;
}

.popUp01 {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #333;
  background: rgba(0,0,0,0.5);
}
.popUp01 img {
  width: 400px;
}

.popUp01 button {
  width: 100px;
  height: 30px;
  outline: none;
  border: 1px solid #333;
  background: #f00;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 0;
}