@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box; font-size: inherit; font-weight: inherit; color: inherit; font-style: normal;}
ul,ol {list-style:  none;}
a{text-decoration: none;}
img{vertical-align: middle; max-width: 100%;}
body{line-height: 1; font-family: 'Noto Sans KR', sans-serif;}
button {font-family: 'Noto Sans KR', sans-serif;}