.mainVisual {
  position: relative;
}

.mainVisual figure {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.mainVisual .item01 {
  height: 600px;
  background-image: url(../doc/img/menu_n01.jpg);
}
.mainVisual .item02 {
  height: 600px;
  background-image: url(../doc/img/menu_n02.jpg);
}
.mainVisual .item03 {
  height: 600px;
  background-image: url(../doc/img/menu_n03.jpg);
}

.mainVisual .slick-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
}


.mainVisual .slick-dots li {
  background: #fff;
  width: 50px;
  height: 10px;
  border-radius: 20%;
  cursor: pointer;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  text-indent: -999999px;
}
.mainVisual .slick-dots li.slick-active {
  background: #444;
} 

.mainVisual .slick-dots button {
  display: none;
}

.mainVisual .slideArrows i { 
  font-size: 100px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.mainVisual .xi-arrow-left {
  left: 100px;
}

.mainVisual .xi-arrow-right {
  right: 100px;
}