.mainVisual {
  position: relative;
}

.mainVisual figure {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.mainVisual figure.item01 {
  height: 600px;
  background-image: url(../img/main_slider01.jpg);
}
.mainVisual figure.item02 {
  height: 600px;
  background-image: url(../img/main_slider_n02.jpg);
}
.mainVisual figure.item03 {
  height: 600px;
  background-image: url(../img/main_slider_n03.jpg);
}
.mainVisual figure.item04 {
  height: 600px;
  background-image: url(../img/main_slider_n04.jpg);
}
.mainVisual figure.item05 {
  height: 600px;
  background-image: url(../img/main_slider_n05.jpg);
}

.mainVisual .slick-dots {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 10px;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
}

.mainVisual .slick-dots button {
  display: none;
}

.mainVisual .slick-dots li {
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  text-indent: -999999px;
}
.mainVisual .slick-dots li.slick-active {
  background-color: #444;
}

.mainVisual .slick-prev {
  top: 50%;
  left: 100px;
}

.mainVisual .slideArrows i { 
  font-size: 100px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.mainVisual .xi-arrow-left {
  left: 100px;
}

.mainVisual .xi-arrow-right {
  right: 100px;
}